{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
  <div id="container">
      <h2>DEV_TEAM</h2>
      <p>Badr Hsaine, Adrien Maccario, Omar Mater, Romain Pujol, Alex Triquet </p>
	  <p>This is a W3C standards compliant free website template from <a href="http://www.os-templates.com/">OS Templates</a>.</p>
      <p>This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>, which allows you to use and modify the template for both personal and commercial use when you keep the provided credit links in the footer.</p>
      <p>For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.</p>
    </div>
    
</div>
</div>


{% endblock %}