{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
  <div id="container">
      <h2>Who are we ? 5 students at Insa de Lyon Telecommunications</h2>
      <div class="holder">
	  </div>
		<li class="last"><img class="imgl" src="{%static "dev_team.jpg" %}"  alt="" />
            <p><strong>Meet the team:</strong></p>
			<br>
			<p>Romain Pujol: romain.pujol@insa-lyon.fr</p>
			<br>
			<p>		Omar Mater: omar.mater@insa-lyon.fr<p>
			<br>
			<p>		Adrien Maccario: adrien.maccario@insa-lyon.fr</p>
			<br>
			<p>		Badr Hsaine: badr.hsaine@insa-lyon.fr</p>
			<br>
			<p>		Alex Triquet: alex.triquet@insa-lyon.fr</p>
			<br>
          </li>
    </div>
</div>
</div>


{% endblock %}
