{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
  <div id="container">
    <div id="content">
      <h2> The Smart Mailbox</h2>
      <p></p>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/973KzkK3Gwk" frameborder="0" allowfullscreen></iframe>
<p align="center">C-mail is part of the Domotic revolution. C-mail will allow you to integrate the old snail-mail into the digital era. Thanks to this device, you will never again need to ask someone to check your mail while you are not at home or worry about missing an important inbox </p>    
	</div>
	
    <div id="column">
      <div class="holder">
        <h2>INSA de Lyon, FRANCE</h2>
        <ul id="latestnews" >
          <li class="last"><img class="imgl" src="{%static "layout/logo_insa.jpeg" %}" height= 80 width= 100 alt="" />
            <p><strong>Innovative Project</strong></p>
            <p>This Project is part of the Telecommunications Department curriculum</p>
            <p class="readmore"><a href="https://telecom.insa-lyon.fr/">Continue Reading &raquo;</a></p>
          </li>
        </ul>
      </div>
    </div>
    <br class="clear" />
<br class="clear" />
<br class="clear" />
<br class="clear" />
  </div>
</div>



{% endblock %}
