{% extends "base.html" %}
		{% block notification %}
		{{ myunreadnotification_list|length}}
		{% endblock %}
{% block title %}Bienvenue sur votre page de gestion des box{% endblock %}

{% block content %}
<ul>

</ul>
 <div class="wrapper">
  <div id="container">
  <h2>My C-MAIL notifications. Unread: {{ myunreadnotification_list|length}}</h2>
  <p>Here are your notifications</p> 
  
		<p>================================================</p>
		<p>Unread notifications:</p>
		

		{% for notification in mynotification_list %}
		{% ifequal notification.checked 1 %}
			{{notification.title}} ||
		{%endifequal%}
		{%endfor%}
		
		<p>================================================</p>
		{% for photo in myphoto_list %}
			<p>Here's your photo:</p>
			<div class=imglogo><img src="/{{ photo.image.url }}" width="100" height="100" /> @url: {{ photo.image.url }}</a></div>
		
		<p>Phototype:{{photo.phototype}} </p>
		<p>Title: {{photo.notification.title}}</p>
		<p>In Box: {{photo.notification.box}}</p>
		
		<form action="" method="post">
			<input type="hidden" name="notif_id" value="{{photo.notification.id}}" id="notif_id">
			<input type="submit" value="Mark this notification as Read" name="READ" id="READ" />
			<input type="submit" value="Mark this notification as Unread" name="UNREAD" id="UNREAD" />
		</form>
		<p>-----------------------------------------------</p>
		{%endfor%}
		
		
  </form>
  </div>
  </div>
{% endblock %}
