{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="wrapper">
  <div id="container">
    <div id="content">
      <h2>Technology</h2>
      <p>text summing up device</p>
	<p>text summing up device</p>
	  <p>text summing up device</p>
	  <div class="imgholder"><a href="#"><img src="{%static "layout/image.png" %}" height= 100 width= 100 alt="" /></a></div>
    </div>
	
    </div>
    <br class="clear" />
  </div>
  <div id="intro">
    <ul>
      <li>
        <h2>GSM connected device</h2>
        <div class="imglogo"><img src="{%static "layout/device.png" %}" height= 100 width= 100 alt="" /></div>
        <p>Notre boîtier utilise le réseau GSM/GPRS afin de fonctionner partout en France et indépendamment de votre réseau domestique</p>
        <p>Même à situé à des kilomètres votre boîtier est disponible en permanence</p>
      </li>
      <li>
        <h2>Centralized Server</h2>
        <div class="imgholder"><img src="{%static "layout/server.png" %}" height= 100 width= 100 alt="" /></div>
        <p>Toutes vos données sont centralisées et traitées par notre serveur</p>
        <p>Nous vous grantissons la confidentialité de ces données et nous engageons à ne pas les utiliser à  d'autres fin que vous proposez les informations les plus pertinentes sur le contenu de votre boîte aux lettres</p>
      </li>
      <li class="last">
        <h2>Mobile App</h2>
        <div class="imgholder"><img src="{%static "layout/app.png" %}" height= 100 width= 100 alt="" /></div>
	<p>Recevez directement vos notifications c-mail sur votre téléphone</p>        
	<p>Notre application mobile est disponible sur l'appstore et le playstore</p>
        
      </li>
    </ul>
    <br class="clear" />
	</div>
	</div>
	</div>
  </div>
</div>



{% endblock %}
