{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
  <div id="container">
    <div id="content">
      <h2>Technology</h2>
      <p>text summing up device</p>
	  <p>text summing up device</p>
	  <p>text summing up device</p>
	  <div class="img"><a href="#"><img src="{%static "layout/image.png" %}" height= 100 width= 100 alt="" /></a></div>
	
      <p>For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.</p>
    </div>
	
    </div>
    <br class="clear" />
  </div>
<div class="wrapper">
  <div id="intro">
    <ul>
      <li>
        <h2>GSM connected device</h2>
        <div class="imgholder"><a href="#"><img src="{%static "layout/device.png" %}" height= 100 width= 100 alt="" /></a></div>
        <p>Text about device</p>
        <p>Text about device</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </li>
      <li>
        <h2>Centralized Server</h2>
        <div class="imgholder"><a href="#"><img src="{%static "layout/server.png" %}" height= 100 width= 100 alt="" /></a></div>
        <p>Text about server</p>
        <p>Text about server</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </li>
      <li class="last">
        <h2>Mobile App</h2>
        <div class="imgholder"><a href="#"><img src="{%static "layout/app.png" %}" height= 100 width= 100 alt="" /></a></div>
        <p>Text about app</p>
        <p>Text about app</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </li>
    </ul>
    <br class="clear" />
  </div>
</div>



{% endblock %}