{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="wrapper">
  <div id="container">
    <div id="content">
      <h2>Technology</h2>
      <p>text summing up device</p>
	<p>text summing up device</p>
	  <p>text summing up device</p>
	  <div class="imgholder"><a href="#"><img src="{%static "layout/image.png" %}" height= 100 width= 100 alt="" /></a></div>
    </div>
	
    </div>
    <br class="clear" />
  </div>
  <div id="intro">
    <ul>
      <li>
        <h2>GSM connected device</h2>
        <div class="imglogo"><img src="{%static "layout/device.png" %}" height= 100 width= 100 alt="" /></div>
        <p>Our device uses GSM/GPRS network and os cna be used anywhere in the world and can be integrated into any domestic network</p>
        <p>Even far from your home and/or your mailbox you can access to its content whenever you want</p>
      </li>
      <li>
        <h2>Centralized Server</h2>
        <div class="imgholder"><img src="{%static "layout/server.png" %}" height= 100 width= 100 alt="" /></div>
        <p>All your personnal data are processed by our centralized server</p>
        <p>We guarantee you the confidentiality of all the data you entrust us. We will only use the informations gathered by c-mail to give you the most relevant feedbacks about the content of your mailbox and will never give those away to an other company </p>
      </li>
      <li class="last">
        <h2>Mobile App</h2>
        <div class="imgholder"><img src="{%static "layout/app.png" %}" height= 100 width= 100 alt="" /></div>
	<p>Receive push-up notifications anytime on your smartphone</p>        
	<p>Available on the playstore and on the appstore</p>
        
      </li>
    </ul>
    <br class="clear" />
	</div>
	</div>
	</div>
  </div>
</div>



{% endblock %}
